@font-face
{
    font-family: 'Bosch';
    src: url(../fonts/vendors/bosch/bosch.eot);
    src: url(../fonts/vendors/bosch/bosch.otf);
    src: url(../fonts/vendors/bosch/bosch.svg);
    src: url(../fonts/vendors/bosch/bosch.ttf);
    src: url(../fonts/vendors/bosch/bosch.woff);
}

html{
    min-height: 100%;
    position: relative;
}

body
{
    font-family: 'Bosch' !important;
    margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Bosch' !important;
}

.float-right
{
    float: right;
}

.float-left
{
    float: left;
}

tr.text-center th
{
    text-align: center !important;
}

body 
{
    padding-top: 51px;
}

header
{
    margin-bottom: 0px !important;
}

table td, table th
{
    text-transform: uppercase;
}

.lowercase, .lowercase td, .lowercase th
{
    text-transform: lowercase !important;
}

.noTextTransform, .noTextTransform td, .noTextTransform th
{
    text-transform: none !important;
}

.cursorPointer
{
    cursor: pointer !important;
}

.backgroundGrayBosch
{
    background-color: rgb(221,221,221);
}

#titles.jumbotron
{
    padding-top: 20px;
    padding-bottom: 20px;
}

#titles.jumbotron h1
{
    font-size: 40px;
}