/*Codigo de colores para los tipos de perdidas en minutos*/

.changeoverLosses
{
    background-color: rgb(102,255,255) !important;
}

.techicalLosses
{
    background-color: rgb(83,142,213) !important;
}

.organizationalLosses
{
    background-color: rgb(255,51,153) !important;
}

.qualityLosses
{
    background-color: rgb(255,255,0) !important;
}

.performanceLosses
{
    background-color: rgb(90,90,90) !important;
}

.scrap
{
    background-color: rgb(255,0,0) !important;
    color: #fff !important;
}

.rework
{
    background-color: rgb(255,255,0) !important;
}

div.progress
{
    margin: 0px !important;
    height: 20px !important;
}

td.bosch.success
{
    background-color: #5CB85C !important;
    color: #fff !important;
    font-weight: bold;
}

td.bosch.danger
{
    background-color: #D9534F !important;
    color: #fff !important;
    font-weight: bold;
}

table.bosch tbody td:hover
{
    background-color: #215F8B;
    border-color: #215F8B;
    color: #fff;
}