/*Codigo de colores para los tipos de perdidas en minutos*/

.changeoverLosses
{
    background-color: rgb(102,255,255);
}

.techicalLosses
{
    background-color: rgb(83,142,213);
}

.organizationalLosses
{
    background-color: rgb(255,51,153);
}

.qualityLosses
{
    background-color: rgb(255,255,0);
}

.performanceLosses
{
    background-color: rgb(90,90,90);
}

.scrap
{
    background-color: rgb(255,0,0);
    color: #fff;
}

.rework
{
    background-color: rgb(255,255,0);
}

div.progress
{
    margin: 0px !important;
    height: 3px !important;
}

.bosch.greaterOrEqualThat
{
    /*background-color: rgb(42,148,126);*/
    color: rgb(42,148,126);
}

.bosch.lessThat
{
    /*background-color: #f00;*/
    color: #f00;
}

/*.bosch.lessThat a
{
    color: #fff !important;
}*/

table.bosch td:hover
{
    border-color: #215F8B !important;
}