tr.subheader th, tfoot td
{
    background-color: rgb(200,200,200);
    color: #000;
    text-align: center;
    vertical-align: middle !important;
}

tr.header th
{
    background-color: #215F8B;
    color: #fff;
    text-align: left;
    vertical-align: middle !important;
}

table.dashboardCapture, table.dashboardCapture td, table.dashboardCapture th
{
    border: 1px solid #000 !important;
}

table.dashboardCapture .tools > *
{
    float: right;
}

table.dashboardCapture .tools > * + *
{
    margin-right: 10px;
}


table.dashboardCapture i.fa-bar-chart-o
{
    cursor: pointer;
    font-size: 2em;
}

td a{
    color: inherit;
}

.k-widget.k-datepicker
{
    height: 30px;
    padding: 0px;
}

td.productions, 
td.scrapValue, 
td.reworkValue,
td.changeoverValue, 
td.technicalValue, 
td.organizationalValue,
td.qualityValue,
td.performanceValue
{
    cursor: pointer;
}