tr.subheader th, tfoot td
{
    background-color: rgb(200,200,200);
    color: #000;
    text-align: center;
    vertical-align: middle !important;
}

tr.header th
{
    background-color: #215F8B;
    color: #fff;
    text-align: left;
    vertical-align: middle !important;
}

table#dashboardCapture, table#dashboardCapture td, table#dashboardCapture th
{
    border: 2px solid #000 !important;
}

td a{
    color: inherit;
}